<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico" />
    <title>SET - Supply Efficiency Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="app">
    <div id="top-bar">
        <div class="title-bar">
            <img src="~/Images/Logo_Cross_20_Wht.png" alt="Logo"/> <a href="#">Bayer SET</a>
            <small><spinner loading="$root.odataInfo.loading || $root.templateloading" show=""></spinner></small>
        </div>
        <div class="user-bar">
            <a uib-popover-template="'user.tpl.html'"
               popover-placement="bottom-right"
               popover-append-to-body="true"
               popover-trigger="'outsideClick'"
               ng-click>
                <img src="/SET/UserImage" alt="User Picture" />
                @ViewBag.currentUser.Title
            </a>
        </div>
        <div class="link-bar">
            <a ui-sref="admin"
               ng-hide="!$root.user.hasPermission('read','admin')">
                <i ng-class="$root.Icons.settings"></i>
            </a>
            <a uib-popover-html="$root.help.output($root.$state)||'No Help Text'"
               popover-placement="bottom-right"
               popover-append-to-body="true"
               popover-trigger="'outsideClick'"
               popover-title="Help"
               ng-click><i ng-class="$root.Icons.help"></i></a>
        </div>
    </div>

    <script id="user.tpl.html" type="text/ng-template">
        <div style="width: 320px;">
            <div style="text-align:center;">
                <img src="/SET/UserImage" alt="User Picture" style="border-radius:500px;" />
                <h3>@ViewBag.currentUser.Title</h3>
            </div>
           
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                            User Info
                        </th>
                       
                    </tr>
                </thead>
                <tr>
                    <td>CWID</td>
                    <td>{{$root.user.User.UserCwid}}</td>
                </tr>
                <tr>
                    <td>Roles</td>
                    <td>{{$root.user.User.Roles|join:'; ':'RoleName'}}</td>
                </tr>
                <tr ng-show="$root.user.User.Countries.length">
                    <td>Countries</td>
                    <td>{{$root.user.User.Countries|join:'; ':'CountryName' || 'No countries provided'}}</td>
                </tr>
                <tr ng-show="$root.user.User.Countries.length">
                    <td>Email Notification</td>
                    <td><check-box ng-model="$root.user.User.EnableNotification" ng-change="$root.user.updateNotification()"></check-box></td>
                </tr>
            </table>
        </div>
    </script>

    <div data-toaster-container data-toaster-options="{'time-out': 5000}"></div>

    @RenderBody()

    @Scripts.Render("~/bundles/amcharts")
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/angular")

    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
